<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find arm_urdf_description)/urdf/arm_urdf.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model arm_urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <rosparam file="$(find arm_urdf_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="arm_urdf" args="base_to_link1_position_controller link1_to_link2_position_controller link2_to_link3_position_controller link3_to_link4_position_controller link4_to_link5_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/arm_urdf/joint_states"/>
</node>
</launch>
